@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the body to 100vh to ensure it covers the entire viewport */
    margin: 0; /* Remove default margin on body */
    background-image: linear-gradient(45deg, #000000, rgb(0, 77, 145));
  }

.container {
    width: 350px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    color: rgb(22, 146, 255);
    border: 3px solid rgb(22, 146, 255);
    border-radius: 14px;
}

p {
    margin: 0;
}

input {
    font-family: Poppins;
    border: 2px solid rgb(22, 146, 255);
    border-radius: 10px;
    background-color: rgb(30, 30, 30);
    padding-left: 8px;
    color: rgb(22, 146, 255);
}

.header-text {
    font-size: 28px;
    margin-top: 13px;
    margin-bottom: 5px;
    text-decoration: underline;
    color: rgb(22, 146, 255);
}

.operator-text {
    margin-top: 13px;
}

.second-text {
    margin-top: 16px;
}

.result-text {
    margin-top: 10px;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

input::placeholder {
    color: rgb(22, 146, 255);
}

input:focus {
    outline: none;
}

#calculate-button {
    background-color: rgb(30, 30, 30);
    border: 2px solid rgb(22, 146, 255);
    color: rgb(22, 146, 255);
    border-radius: 5px;
    font-size: 13px;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.selection {
    height: 28px;
    width: 200px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 10px;
    color: rgb(22, 146, 255);
    background-color: rgb(30, 30, 30);
    border: 2px solid rgb(22, 146, 255);
}

.selection:focus {
    outline: none;
}

